.contain{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 140px;

}

.index_btn{
    margin-right:50px;
    float:right;
}

th,td{
    text-align:center;
}


#mytable thead tr th{
    text-align:center;
}